@use"../../../assets/styles/mixin" as mixin;

header {
    @include mixin.xs {
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
        z-index: 1000; 
    }
}

.headerResponsive {
    @include mixin.xs {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
    }
}

.sizeHeaderLeft {
    width: 30%;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    @include mixin.xs {
        width: 15%;
    }
}

.latina {
    cursor: pointer;
    border-radius: 10px;
    font-size: 2rem;

    // color: var(--colorDom);
    @include mixin.xs {
        font-size: 1rem;
        margin-left: 5px;
    }
}

.latina:hover {
    // box-shadow: inset 0 0 0 0 #fc466485;
    // padding: 0 .25rem;
    // margin: 0 -.25rem;
    // transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    filter: blur(0.3px);
    p {
        color: rgb(224, 43, 43);
        &:nth-child(3) {
            color: black;
        }
    }
}

// .latina:hover {
//     color: #fff;
//     box-shadow: inset 200px 0 0 0 #fc466485;
// }

.logo {
    width: 120px;
    height: 120px;
    @include mixin.xs {
        display: none;
    }
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 100px;
    @include mixin.xs {
        gap: 1rem;
        margin-left: 6px;
    }
}

.topHeader {
    @include mixin.xs {
        font-size: 0.7rem;
    }
}

.iconHeader {
    @include mixin.xs {
        margin-right: 20px;
    }
    img {
        @include mixin.xs {
            width: 20px;
        }
    }
}


.divIcon {
    @include mixin.xs {
        gap: 0.3rem;
    }
}