@use "../../../assets/styles/mixin" as mixin;

.serie {
    position: relative;
    border-radius: 20px;
    height: 750px;
    width: 80%;
    border: solid red 2px;
    >i {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 25px;
        z-index: 1;
        color: var(--error);
        
        &:hover {
            color: black;
        }
        
    }
    @include mixin.xs {
        height: 500px;
        width: 90%;
    }
    
    .imgContainer {
        // height: 500px;
        overflow: hidden;
        padding: 1rem;
        
        @include mixin.xs {
            // height: 200px;
        }
        img {
            // height: 100%;
            margin: 0 auto;
        }
    }

    .title {
        // height: 200px;
        font-size: 18px;
        @include mixin.xs {
            font-size: 12px;
        }
    }

    img {
        border-radius: 20px;
    }

    //   .title :not(i) {
    //     transition: 0.2s color;
    //     &:hover {
    //       color: var(--error);
    //     }
    //   }
}