@use"../../assets/styles/mixin" as mixin;

.footer {
    font-size: 1rem;
}

.icons {
    padding: 0.3%;
    display: flex;
    gap: 2rem;
}

.footerend {
    align-items: center;
    @include mixin.xs {
        padding-bottom: 0.5rem;
    }
}