@use"../../assets/styles/mixin" as mixin;

.backgroundTopContact {
    background-image: url(../../assets/images/backgroundTopContact.png);
    background-position: center;
    background-size: cover;
    height: 35vh;
    @include mixin.xs {
        height: 20vh;
        h1{
            padding-top: 24%;
        }
    }
}

.topContact {
    @include mixin.xs {
        margin-top: 70px;
    }
}