@use"../../../assets/styles/mixin" as mixin;

.top {
  @include mixin.xs {
      margin-top: 70px;
  }
}
.feedback {
    color: red;
    font-size: 18px;
    font-weight: 600;
  }
  
  .feedbackGood {
    color: green;
    font-size: 18px;
    font-weight: 600;
  }
  
  input {
    width: 500px;
    height: 1.8rem;
    border-radius: 10px;
    @include mixin.xs {
      width: 200px;
    }
  }

  .backgroundTop {
    background-image: url(../../../assets/images/RegisterTop.png);
    background-position: center;
    background-size: cover;
    height: 35vh;
    @include mixin.xs {
      height: 20vh;
  }
}