@use"../../../assets/styles/mixin" as mixin;

.planningSize {
    width: 40%;
    @include mixin.xs {
        width: 45%;
    }
}
.day {
    background-color: var(--colorDom);
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    border: solid black 0.2px;
    @include mixin.xs {
        font-size: 1rem;
    }
}

.salle {
    background-color: var(--colorFooter);
    color: var(--colorBox);
    font-size: 1.5rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
    border: solid black 0.2px;
    @include mixin.xs {
        font-size: 1rem;
    }
}
.border {
    border: solid black 0.2px;
    width: 100%;
}

