* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-grey);
}

a {
  display: inline-block;
  color: inherit;
}

h1 {
  font-size: 4rem;
  font-weight: 400;
  color: var(--colorBox);
}

h2 {
  font-size: 2.2rem;
  color: var(--colorDom);
  font-weight: 400;
  margin-bottom: 50px;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

.center {
  width: 80%;
  margin: 0 auto;
}