*{
    margin: 0;
    text-decoration: none;
    list-style-type: none;
  }
  
  body {
      color: var(--text-color);
      font-family: var(--font-family);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      background-color: var(--light-grey);
    }
  
    a {
      color: inherit;
    }
    
    h2 {
      font-size: 2.2rem;
    }
    
    img {
      max-width: 100%;
    }
  
    .center {
      width: 80%;
      margin: 0 auto;
    }